.team-block
  background-image: url("../../assets/images/background_bot.png")
  background-size: cover
  background-repeat: no-repeat
  width: 100%
  background-position: center
  padding: 70px 0
  min-height: 710px
  text-align: center

.teamList
  display: flex
  justify-content: center
  gap: 8px
  margin-top: 45px

.team_title_holder
  &::after
    display: block
    content: ""
    width: 50px
    height: 1px
    background-color: rgba(255, 255, 255, 0.2)
    margin: 24px auto

.top_subtitle
  color: #ffffff
  font-family: "Playfair Display"
  font-weight: 400
  font-size: 14px

.team_title_holder h2
  color: #ffffff

.team-wrapper
  min-width: 200px
  a
    text-decoration: none

.team_icon
  height: 220px
  width: 220px

.team_button
  font-family: "Hammersmith One", sans-serif
  font-size: 1rem
  border-color: #00e0d0
  border-radius: 2px
  color: #00e0d0
  min-width: 120px
  min-height: 40px
  transition: all 0.3s ease

  &:focus, &:hover
    color: #00e0d0
    background-color: transparent
    border-color: #00e0d0
    text-decoration: none
    outline: none
    box-shadow: none

.label
  margin: 0 auto
  width: 220px
  border: 1px solid #fff

  h3
    margin-top: 18px
    font-family: "Roboto", sans-serif
    font-weight: 900
    font-size: 1rem
    color: #fff

  p
    font-family: "Roboto", sans-serif
    font-weight: 300
    font-size: 0.825rem
    color: #fff

.title-holder h6
  margin-top: 60px
  margin-bottom: 25px
  font-family: "Roboto", sans-serif
  font-weight: 300
  font-size: 0.875rem
  color: #fff

@media screen and (max-width: 767px)
  .team_icon
    height: 180px
    width: 180px

  .label
    width: 180px

@media screen and (max-width: 945px)
  .teamList
    flex-direction: column